# Gradle 파일
.gradle/
/build/

# IntelliJ IDEA와 Android Studio 설정 파일
.idea/
/*.iml
/.vscode/

# 로그 파일
*.log

# 빌드 아티팩트
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear

# 로컬 환경 관련 설정
local.properties

# macOS 관련 파일
.DS_Store

# Gradle 캐시
**/build/

# Kotlin 및 Java 컴파일 파일
*.kt~
*.java~